{% extends "template.html" %}
{% block conteudo %}
      <form class="formularioJogo" action="{{ url_for('criar') }}" METHOD="POST" ENCTYPE="multipart/form-data">

        {{ form.csrf_token }}
      <figure class="img-thumbnail-col-md-4 formularioImagem">
        <img class="img-fluid" src="{{url_for('imagem',nome='Capa.jpg')}}">
          <figcaption>
            <label class="fileContainer">
              Mudar capa
              <input TYPE="file" name="arquivo" accept=".jpg">
            </label>
          </figcaption>
      </figure>


        <fieldset>

          <div class="form-group inputBox">
            {{ form.nome.label(class = "form-label") }}
            {{ form.nome(class = "form-control") }}
          </div>

          <div class="form-group inputBox">
            {{ form.categoria.label(class = "form-label") }}
            {{ form.categoria(class = "form-control") }}
          </div>

          <div class="form-group inputBox">
            {{ form.console.label(class = "form-label") }}
            {{ form.console(class = "form-control") }}
          </div>

          <div class="form-group buttons">
            {{form.salvar(class = "btn btn-primary")}}
            <a class="btn btn-danger" href="{{url_for('inicio')}}">Voltar</a>
          </div>

        </fieldset>
      </form>
{% endblock %}